# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
*.code-workspace

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local

# Node (jen pro případ)
node_modules/

# Build
dist/
.vercel
